In [1]:
!pip install pymysql

Collecting pymysql
  Using cached https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [4]:
import pymysql

connInfo = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'passwd': 'root',
    'db': 'TESTDB',
    'charset': 'utf8mb4'
}

conn = pymysql.connect(**connInfo)
cursor = conn.cursor()

print('Successfully connected.')

Successfully connected.

In [5]:
# Execute SQL
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [7]:
cursor.execute(sql)

IntegrityError: (1062, "Duplicate entry '001' for key 'staff.PRIMARY'")

In [8]:
# 產生時間的方式如下
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [9]:
conn.commit()

In [10]:
# 試著將資料表中的資料取出
# 先寫好 SQL 語法
sql = """
SELECT * FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

2

In [11]:
data = cursor.fetchall()
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2021, 6, 5, 15, 3, 20)))

In [12]:
# 從資料庫將 datetime 形態的資料取出後，在 Python 中會變成 datetime 物件
# 將 datetime 物件轉為字串
data[1][6].strftime('%Y-%m-%d %H:%M:%S')

'2021-06-05 15:03:20'

In [13]:
sql = 'DELETE FROM Staff'
cursor.execute(sql)
conn.commit()

In [14]:
cursor.close()
conn.close()