In [1]:
!pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/b5/ac/5ec0601ce698235cad8559dfe0ae5ace903a359d617a8c4c033f9879faf8/pandas-1.1.5-cp37-cp37m-macosx_10_9_x86_64.whl
Collecting numpy>=1.15.4 (from pandas)
  Using cached https://files.pythonhosted.org/packages/b6/50/ecda32e07ec70235a828dcd8ec32395ef7772120ccbe5a73df9cc3db1090/numpy-1.20.3-cp37-cp37m-macosx_10_9_x86_64.whl
Requirement already satisfied: python-dateutil>=2.7.3 in ./venv/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/70/94/784178ca5dd892a98f113cdd923372024dc04b8d40abe77ca76b5fb90ca6/pytz-2021.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.20.3 pandas-1.1.5 pytz-2021.1

In [2]:
import pandas as pd
import glob


glob.glob('./res_gossiping/*.txt')

['./res_gossiping/[新聞] 韓四大集團發佈394億美元對美投資計劃.txt',
 './res_gossiping/Re: [問卦] 篩檢站一直增加，確診數卻差不多？.txt',
 './res_gossiping/[問卦] 有沒有三級警戒要不要延長的八卦.txt',
 './res_gossiping/[問卦] 誰該為這次疫情大爆發負責？抓到沒？.txt',
 './res_gossiping/[問卦]  誰他媽在卡BNT疫苗.txt',
 './res_gossiping/[問卦] 認知作戰是在騙一般老百姓嗎.txt',
 './res_gossiping/[問卦] 旅館投宿的客人不見的八卦.txt',
 './res_gossiping/[問卦] 朋友在擔心打完疫苗會變無垢巨人 怎辦？.txt',
 './res_gossiping/[問卦] 國軍 四個月兵這樣訓練可以提升戰力嗎?.txt',
 './res_gossiping/Re: [新聞] 事後校正回歸 國外公衛統計常見.txt',
 './res_gossiping/Re: [爆卦] 幾百億蓋海洋竹南風電今天沒屁卵用.txt',
 './res_gossiping/Re: [問卦] 這樣是越來越少還是越來越多呢.txt',
 './res_gossiping/[問卦] 請問yahoo有跟八卦版合作?.txt',
 './res_gossiping/[問卦] 假如現在是國民黨還是民眾黨執政.txt',
 './res_gossiping/[問卦] 一鍵收回側翼&覺青粉專的讚.txt',
 './res_gossiping/[新聞] 【本土+1】管光中掌「新職籃聯盟」\u3000台.txt',
 './res_gossiping/[問卦] 這時間是不是最適合打手槍的時間?.txt',
 './res_gossiping/[問卦] 有沒有一直拿武漢死亡率說嘴的八卦.txt',
 './res_gossiping/Re: [問卦] 今天會是幾加幾再加幾？.txt',
 './res_gossiping/[問卦] 這時間不睡覺的卦.txt',
 './res_gossiping/[問卦] 燒烤是不是很奢侈的小吃啊？.txt',
 './res_gossiping/[問卦] 「開放討論」是側翼之語嗎？.txt',
 './res_gossiping/[新聞] 昔日學運神鵰俠侶！她曾與鄭文燦譜出戀.txt',
 './res_gossiping/Re: [問卦] 一天開兩次記者會的意義.txt',
 './res_gossiping/[問卦] 半夜武陵亭群聚？.txt',
 './res_gossiping/[問卦] 歷史上最喜歡被高壓統治的一群人是誰?.txt',
 './res_gossiping/[問卦] 剛剛怎麼了.txt',
 './res_gossiping/Re: [問卦] 幹你老師 所以台灣人真的被當韭菜???????.txt',
 './res_gossiping/[問卦] 有沒有林聖義人雄的八卦.txt',
 './res_gossiping/Re: [問卦] 美國疫苗都不優先給台灣，戰爭會介入嗎？.txt',
 './res_gossiping/[新聞] 1958年台海危機 美考慮核武攻擊中國捍衛.txt',
 './res_gossiping/Re: [問卦] 說真的直接算721例比較好吧?.txt',
 './res_gossiping/Re: [問卦] 好騙的人有什麼特徵？.txt',
 './res_gossiping/[問卦] 做吃的利潤沒一半都是賠錢？.txt',
 './res_gossiping/[問卦] 言論自由跟造謠如何定義？.txt',
 './res_gossiping/[問卦] 國產疫苗為何不直接上了啊??.txt',
 './res_gossiping/[問卦] 台灣是不是要建個P4實驗室阿?.txt',
 './res_gossiping/[問卦] 好棒，三點了.txt',
 './res_gossiping/[問卦] 這樣算是柔性封城?.txt',
 './res_gossiping/[問卦] 同樣是國軍.txt',
 './res_gossiping/Re: [問卦] 該來討論第四級警戒了對吧!?.txt',
 './res_gossiping/Re: [新聞] 沒有一個城市人均GDP超越台灣 陸媒：難以.txt',
 './res_gossiping/Re: [問卦] 為什麼捐了口罩卻沒有疫苗?.txt',
 './res_gossiping/[問卦] 覺得國片好看ㄉ腦子是出了什麼問題?.txt',
 './res_gossiping/[問卦] 全力支持北中南廣設快篩站並公布數字.txt',
 './res_gossiping/[問卦] 台灣人的末日是不是快了？.txt',
 './res_gossiping/[問卦] 這樣午餐便當卡路里多少大概？.txt',
 './res_gossiping/[問卦] 同島一命是這種概念嗎？.txt',
 './res_gossiping/[問卦] 有沒有物理治療所有沒有開門的八卦.txt',
 './res_gossiping/Re: [新聞] 疫情升溫 王定宇：有人巴不得台灣疫情失.txt',
 './res_gossiping/[問卦] 欸Netflix的海綿寶寶沒中文字幕試診樣.txt',
 './res_gossiping/Re: [問卦] 其實這是月薪嬌妻第三季的大型廣告吧？.txt',
 './res_gossiping/[問卦] 請問今天還會校正回歸嗎？.txt',
 './res_gossiping/Re: [問卦] 發錢挺醫護！有沒有疫苗假扣薪的卦.txt',
 './res_gossiping/[問卦] 確診人數有必要校正回歸嗎？.txt',
 './res_gossiping/[問卦] 為什麼蟑螂幾乎都家徒四壁或赤貧?.txt',
 './res_gossiping/[問卦] 對面國為什麼都沒疫情惹.txt',
 './res_gossiping/[問卦] 為什麼只能等國產疫苗？.txt',
 './res_gossiping/[新聞] 南投放水怪客 自帶鑰匙轉開水龍頭放水流.txt',
 './res_gossiping/Re: [新聞] 新北再傳死後確診？女兒被隔離無法見媽媽.txt',
 './res_gossiping/Re: [問卦] 國產疫苗 大家覺得怎樣?.txt',
 './res_gossiping/[問卦] 國稅局願意幫助防疫嗎.txt',
 './res_gossiping/Re: [問卦] FB風向：雙北出包  全台扛責.txt',
 './res_gossiping/Re: [問卦] 初音會敬老尊賢嗎==？.txt',
 './res_gossiping/[問卦] 所以現在機組人員是幾加幾？.txt',
 './res_gossiping/Re: [問卦] 這樣的日子還要多久？.txt',
 './res_gossiping/Re: [新聞] 洪秀柱願當「橋樑」引入中國疫苗\u3000指揮.txt',
 './res_gossiping/[新聞] 莫德納委託三星生產新冠疫苗 文在寅出席.txt',
 './res_gossiping/[問卦] 認真求問校正回歸.txt',
 './res_gossiping/[新聞] 市府通知！萬華區青草園快篩站5月23日起.txt',
 './res_gossiping/Re: [問卦] 輝瑞BNT疫苗營銷劃分.txt',
 './res_gossiping/[問卦] 玩SAO 的人是不是躲過這次的肺炎病毒.txt',
 './res_gossiping/[新聞]存貨面臨過期上海復星盼BNT疫苗輸台鴻海 .txt',
 './res_gossiping/[問卦] 以色列施打疫苗後的現況？.txt',
 './res_gossiping/[問卦] 行車糾紛下車打架要 戴口罩嗎.txt',
 './res_gossiping/[問卦] 現在吵疫苗是不是沒用了.txt',
 './res_gossiping/[問卦] 下一個走上神壇的是不是行動支付.txt',
 './res_gossiping/Re: [新聞] 莫德納委託三星生產新冠疫苗 文在寅.txt',
 './res_gossiping/[問卦] 為什麼早餐店 都是高油 高碳水? .txt',
 './res_gossiping/[問卦] 乳清蛋白是不是健身仔的裝飾品?.txt',
 './res_gossiping/[問卦] 謊言重覆一千遍，會變成真理嗎？.txt',
 './res_gossiping/[問卦] 如果打了疫苗還是確診台灣人會怎樣.txt',
 './res_gossiping/[問卦] 這波3+11的經濟虧損多大??.txt',
 './res_gossiping/[問卦] 韓國怎麼從破產走到今天的？.txt',
 './res_gossiping/[問卦] 好想去看看牆外的世界！.txt',
 './res_gossiping/Re: [問卦] 228白色恐怖是為了救台灣吧？.txt',
 './res_gossiping/[問卦] 今年比較慘還去年.txt',
 './res_gossiping/Re: [問卦] 為什麼國產疫苗研發速度遠遠地落後世界？.txt',
 './res_gossiping/[問卦] 台灣484沒有輸??.txt',
 './res_gossiping/Re: [問卦] 有沒有真田廣之的八卦？.txt',
 './res_gossiping/[問卦] 該放包子店倒嗎?.txt',
 './res_gossiping/[問卦] 各位鄉民要謹慎自己的發言了？.txt',
 './res_gossiping/[問卦] 疫情期間人待在家 外面變成動物的世界？.txt',
 './res_gossiping/Re: [問卦] 防疫旅館是只給回國的住嗎？.txt',
 './res_gossiping/[問卦]日本每天5000例武漢肺炎 地鐵還是擠？.txt',
 './res_gossiping/[問卦]「校正回歸」的定義以及數據上不合理之處.txt',
 './res_gossiping/[問卦] 其實不是超前部署，而是中了緩慢之術吧.txt',
 './res_gossiping/[問卦] 疫情在家聽搖滾樂都聽什麼？.txt',
 './res_gossiping/[問卦] 今年是台灣生技起飛的元年嗎?.txt',
 './res_gossiping/[新聞] 南韓總統帶三星去晶片換疫苗，台灣呢??.txt',
 './res_gossiping/[爆卦] 供電吃緊 系統供電餘裕緊澀.txt',
 './res_gossiping/[問卦] 現在闖空門的小偷是不是要失業了？.txt',
 './res_gossiping/[問卦] 除濕機的原理是啥？.txt',
 './res_gossiping/[問卦] 餐飲業的食材保存.txt',
 './res_gossiping/[問卦] 為什麼課本都要從101開始而不是001.txt',
 './res_gossiping/[問卦] PTT是什麼？？.txt',
 './res_gossiping/Re: [新聞] 英最新研究：輝瑞和AZ疫苗對印度變種病毒.txt',
 './res_gossiping/[問卦] 有國營基層員工確診沒人關心？.txt',
 './res_gossiping/[新聞] 住家1樓開鎖店…關門吃飯遭開單「沒戴罩.txt',
 './res_gossiping/Re: [問卦] 有人也面臨倒閉邊緣了嗎.txt',
 './res_gossiping/[問卦] 短期內集中精神的方法.txt',
 './res_gossiping/[問卦] 大家多久沒吃芒果乾了.txt',
 './res_gossiping/[問卦] 西門唐吉珂德會不會倒啊.txt',
 './res_gossiping/[問卦] 手機號碼不是自己的名字掃實聯制有用嗎？.txt',
 './res_gossiping/Re: [問卦]   想打上海復星BNT的請進.txt',
 './res_gossiping/[問卦] 為什麼BNT衛福部不自己進就好了.txt',
 './res_gossiping/Re: [問卦] 校正回歸有其正當性吧？.txt',
 './res_gossiping/[問卦] 疫苗國家隊 大家期不期待???.txt',
 './res_gossiping/[問卦] 魯宅禁了一個星期慾，能校正回歸嗎？.txt',
 './res_gossiping/Re: [問卦] 萬華明明就是紅燈區，為什麼沒人想正名.txt',
 './res_gossiping/[問卦] 台灣究竟什麼時候開始落後韓國？.txt',
 './res_gossiping/[問卦] 請問會有多重校正回歸嗎？.txt',
 './res_gossiping/[新聞] 桑默斯：加密幣有成為數位黃金的潛力.txt',
 './res_gossiping/[新聞] 人夫連3天車上「握奶凍」小三嬌嗔 音檔曝光！法官臉紅、人.txt',
 './res_gossiping/[問卦] 打台灣國產疫苗為何重要?.txt',
 './res_gossiping/[問卦] 所以是我們呆頑狼傲嬌, 不是中國不救???.txt',
 './res_gossiping/[問卦] 愛我到今生 不要問來生.txt',
 './res_gossiping/[新聞] 隨機砍人！56歲男家庭失和 持刀砍超商女.txt',
 './res_gossiping/[問卦] 哪個卡通人物的媽媽最會做菜？.txt',
 './res_gossiping/Re: [問卦] 台灣人是不是只有等國產疫苗的命運?.txt',
 './res_gossiping/[問卦] 現在友邦與台灣斷交各位會覺得生氣嗎？.txt',
 './res_gossiping/Re: [問卦] 給你4000萬劑莫德納 但要統一你ok嗎.txt',
 './res_gossiping/Re: [新聞] 印度婦新冠輕症住院\u3000竟遭3醫護性侵變重.txt',
 './res_gossiping/Re: [問卦] 感覺霍金的說法不是很正確???.txt',
 './res_gossiping/[問卦] 英國靠封城+疫苗 才控制住英國變種病毒.txt',
 './res_gossiping/Re: [問卦] 如果打了疫苗還是確診台灣人會怎樣.txt',
 './res_gossiping/[問卦] 這樣的日子還要多久？.txt',
 './res_gossiping/[問卦] 中央社英文版新聞說721人感染者?.txt',
 './res_gossiping/[問卦] 檢驗量能無法提升 就不知道當日確診數？.txt',
 './res_gossiping/Re: [問卦] 水泡該怎麼處理？(有圖，不喜勿入).txt',
 './res_gossiping/[問卦] 中媒是不是惟恐天下不亂 一直報中國美國.txt',
 './res_gossiping/[問卦] 請問明天就要上班該怎麼辦.txt',
 './res_gossiping/[問卦] 警察稽查到台積電3員工不帶口罩.txt',
 './res_gossiping/Re: [問卦] 心理諮商師和心理醫師推哪個.txt',
 './res_gossiping/[問卦] 生過小孩的女生是不是各種不怕被看奶阿??.txt',
 './res_gossiping/[問卦] 實驗數據校正回歸被教授譙是沒有價值嗎.txt',
 './res_gossiping/[問卦] 起司蛋餅加番茄醬是哪個教派的.txt',
 './res_gossiping/Re: [問卦] 依國外經驗 回歸正常生活要多久.txt',
 './res_gossiping/[問卦] 有打工仔被疫情影響沒班上的嗎？.txt',
 './res_gossiping/Re: [新聞] 雙北延遲通報才需校正回歸？北市府駁斥：.txt',
 './res_gossiping/[問卦] 台灣怎麼會變成這樣？.txt',
 './res_gossiping/[問卦] 校正回歸，確診算哪一天的標準是什麼?.txt',
 './res_gossiping/[問卦] Persona5是不是超前佈署?.txt',
 './res_gossiping/[問卦] 國產疫苗  V.S  莫德納  都幾?.txt',
 './res_gossiping/[問卦] 張量潁有一首歌紅過嗎?.txt',
 './res_gossiping/[問卦] 台灣是不是沒有像三星的財閥？.txt',
 './res_gossiping/[問卦] 很遠的地方有個女郎 名字叫做耶利亞.txt',
 './res_gossiping/[問卦] 謀財害命再來是什麼？.txt',
 './res_gossiping/[問卦] 我的SPSS沒有校正回歸怎麼辦? 在線等.txt',
 './res_gossiping/[新聞] 調查局有動作了！\u3000加強情蒐「網友討論校正回歸」.txt',
 './res_gossiping/[問卦] 再一次無薪假OK嗎？.txt',
 './res_gossiping/[爆卦] 阿中部長一夜白頭其實有修圖？？.txt',
 './res_gossiping/[公告] 八卦板板規(2021.05.11).txt',
 './res_gossiping/[問卦] 有因為怕死卻被拿來自嗨的卦嗎？.txt',
 './res_gossiping/[問卦] 有沒有八卦板網軍有夠傲嬌的八卦.txt',
 './res_gossiping/Re: [新聞] 時代雜誌:虛假安全感及茶室 破壞台灣疫情.txt',
 './res_gossiping/[問卦] 有校正的校正回歸嗎？.txt',
 './res_gossiping/[問卦] 政府為啥不能買大陸bnt疫苗？.txt',
 './res_gossiping/[問卦] 校正回歸: 中央會怎麼懲處地方.txt',
 './res_gossiping/Re: [問卦] 有沒有物理治療所有沒有開門的八卦.txt',
 './res_gossiping/[問卦] 國軍吃美豬？.txt',
 './res_gossiping/Re: [新聞] 中歐投資遭背後開槍 北京撂這句嗆爆歐盟.txt',
 './res_gossiping/Re: [問卦] 上海復星滿手BNT快過期賣不掉？.txt',
 './res_gossiping/[問卦] 有人最近生活也沒啥改變的八卦嗎？.txt',
 './res_gossiping/[問卦] 外帶大埔鐵板燒大辣加蔥蛋爽不爽.txt',
 './res_gossiping/[問卦]有沒有海島特別難的八卦.txt',
 './res_gossiping/Re: [新聞] 盧秀燕小編誤發留言「校正回歸什麼鬼」.txt',
 './res_gossiping/[問卦] 裝睡的人叫不醒怎麼辦?.txt',
 './res_gossiping/[問卦] 四個月海陸 vs 6個月替代役.txt',
 './res_gossiping/Re: [問卦] 為什麼有辦法校正回歸前一天的資料？.txt',
 './res_gossiping/Re: [問卦] 這警察也太弱勢了吧.txt',
 './res_gossiping/[公告] 523新增違規案例及上周校正回歸個案 水桶.txt',
 './res_gossiping/Re: [問卦] +1+1+1+1跟+0+0+0+4哪個可怕？.txt',
 './res_gossiping/[問卦] 什麼時候四級警戒？.txt',
 './res_gossiping/[問卦] 頭文字D 算是好玩的賽車遊戲嗎?.txt',
 './res_gossiping/Re: [問卦] Costco的配鏡技術如何.txt',
 './res_gossiping/[問卦] 范雲和華航到底要躲到哪時候.txt',
 './res_gossiping/[問卦] 你有被男友或老公 大聲過嗎?.txt',
 './res_gossiping/[問卦] 犀利人妻是不是在諷刺乖乖牌?.txt',
 './res_gossiping/[問卦] 幾年內票不會投給民進黨.txt',
 './res_gossiping/[問卦] 黑暗之中閉上眼.txt',
 './res_gossiping/[問卦] 工程師的人生是不是屌打8+9？.txt',
 './res_gossiping/[問卦] 哇!林瑞陽的兒子非常俊俏!.txt',
 './res_gossiping/[問卦] 碧潭這邊突然一聲爆炸聲.txt',
 './res_gossiping/[問卦] 阿辰師的油封鴨腿三大疑問.txt',
 './res_gossiping/Re: [爆卦] 民進黨定調反制BNT疫苗?.txt',
 './res_gossiping/[問卦] 為何啟動三四級不連帶紓困政策？.txt',
 './res_gossiping/[問卦] 蘋果指紋辨識會回歸的八卦.txt',
 './res_gossiping/Re: [新聞]國產疫苗可望開打！聯亞：預計七月就可供.txt',
 './res_gossiping/[問卦] 會給光頭的理髮師剪頭髮嗎？.txt',
 './res_gossiping/[問卦] 就算校正回歸有理 CDC這禮拜作法合邏輯?.txt',
 './res_gossiping/[問卦] 我這輩子還有機會和台女做愛嗎？.txt',
 './res_gossiping/[新聞]    阿根廷再封城9天 總統宣布嚴格控管政策.txt',
 './res_gossiping/[問卦] 八卦板上不信美國會給台灣武肺炎疫苗？.txt',
 './res_gossiping/[爆卦] 20-21西班牙甲級聯賽冠軍.txt',
 './res_gossiping/[問卦] 請問被辱罵可以用準備收傳票嚇人嗎？.txt',
 './res_gossiping/[問卦] 3+11的真相背後的真相.txt',
 './res_gossiping/[問卦] 為什麼今年這波都沒有人要補助.txt',
 './res_gossiping/[問卦] 好騙的人有什麼特徵？.txt',
 './res_gossiping/[問卦]  人一綠就腦殘 誰贊成誰反對.txt',
 './res_gossiping/[問卦] Yaneer Bar-Yam是甚麼咖?很有名嗎???.txt',
 './res_gossiping/[問卦] 如果能讓疫情戰犯罪有應得，你會怎麼做？.txt',
 './res_gossiping/[問卦] 參加早上記者會的記者在想什麼?.txt',
 './res_gossiping/Re: [新聞] 校正回歸熱議 調查局情蒐社群言論.txt',
 './res_gossiping/[問卦] 中國死了一隻土狗怎全國奔喪？.txt',
 './res_gossiping/[新聞] 疫情不敢去傳統市場 經部「買菜網」全台2.txt',
 './res_gossiping/[問卦] 肉肉的 豐滿的 差別？.txt',
 './res_gossiping/Re: [新聞] 蘇揆親解校正回歸 籲「大家一起扛起扛責.txt',
 './res_gossiping/[問卦] 為什麼有辦法校正回歸前一天的資料？.txt',
 './res_gossiping/Re: [新聞] 莫德納委託三星生產新冠疫苗 文在寅出席.txt',
 './res_gossiping/Re: [問卦] 對面國為什麼都沒疫情惹.txt',
 './res_gossiping/Re: [問卦] 為什麼只能等國產疫苗？.txt',
 './res_gossiping/[問卦] 過去一週是肥宅洗手頻率最高的嗎?.txt',
 './res_gossiping/[問卦] 取消每天開記者會或換時段是否更好？.txt',
 './res_gossiping/[問卦] 想問 目前國產疫苗，有哪些檯面上的政治人物是.txt',
 './res_gossiping/[問卦] 現在可以光明正大去旅館談事情了吧？.txt',
 './res_gossiping/Re: [爆卦] 供電吃緊 系統供電餘裕緊澀.txt',
 './res_gossiping/[問卦] 說謊騙人也可以校正回歸嗎.txt',
 './res_gossiping/[問卦] 綫性回歸最慘的案例是香港嗎？.txt',
 './res_gossiping/[問卦]跑飛鏢酒吧的機師安全下庄了吧?.txt',
 './res_gossiping/[問卦] 防範認知作戰是調查局的工作嗎？.txt',
 './res_gossiping/Re: [問卦] 如果台灣硬封城會有一堆人餓死吧？.txt',
 './res_gossiping/Re: [爆卦] 男客人進超商沒戴口罩！店員勸導竟然動手.txt',
 './res_gossiping/[問卦] 譚得塞 塞哥484其實還滿挺台灣的？.txt',
 './res_gossiping/[問卦] 自發性封城真的是台灣人的素質？.txt',
 './res_gossiping/[問卦] 警察局隨時可進入,看到警察用餐要檢舉?.txt',
 './res_gossiping/[問卦] 如果實名QR  走進足跡店內會怎樣？.txt',
 './res_gossiping/[問卦]   想打上海復星BNT的請進.txt',
 './res_gossiping/[問卦] 偷偷蓋牌不會被人發現吧？.txt',
 './res_gossiping/[問卦] 484應該要還給新一代一個公道.txt',
 './res_gossiping/Re: [新聞] 蘇揆親解校正回歸 籲「大家一起扛起扛責任」.txt',
 './res_gossiping/[問卦] 如果台灣不是民主國家了？.txt',
 './res_gossiping/Re: [問卦] 上海復星疫苗在上海打得到嗎？.txt',
 './res_gossiping/[問卦] 現在假日去北車該穿什麼的八卦.txt',
 './res_gossiping/[問卦] 今天會是幾加幾再加幾？.txt',
 './res_gossiping/[問卦] 為什麼國產疫苗研發速度遠遠地落後世界？.txt',
 './res_gossiping/[問卦] 所以政府補助方案出來了嗎.txt',
 './res_gossiping/[問卦] 台灣人施打疫苗的數量.txt',
 './res_gossiping/[新聞] 奈及利亞陸軍參謀長墜機亡 正值北部平亂.txt',
 './res_gossiping/Re: [問卦] 日本人一天走路快六千步?.txt',
 './res_gossiping/[問卦] 只有我覺得上海復星根本不想賣bnt給台灣?.txt',
 './res_gossiping/[問卦] Donki Donki 老闆現在在想什麼.txt',
 './res_gossiping/[問卦] 一天開兩次記者會的意義.txt',
 './res_gossiping/Re: [問卦] 假如現在是國民黨還是民眾黨執政.txt',
 './res_gossiping/[問卦] 如果產線確診,需不需要整間公司關閉八卦?.txt',
 './res_gossiping/[問卦] 是不是有「造神學系」啊？.txt',
 './res_gossiping/[問卦] 喝了泰國富江nanno的血能抗武漢肺炎嗎？.txt',
 './res_gossiping/Re: [問卦] 剛剛怎麼了.txt',
 './res_gossiping/[問卦] 馬自立唱好想死的八卦.txt',
 './res_gossiping/[問卦] O2氧氣板防疫期間還在狂徵的八卦?.txt',
 './res_gossiping/Re: [問卦] 請衛服部公開上海復星3000萬劑BNT 報.txt',
 './res_gossiping/[問卦] 今天大的便是不是要算在前幾天的食物上.txt',
 './res_gossiping/Re: [問卦] 請衛服部公開上海復星3000萬劑BNT 報價.txt',
 './res_gossiping/[新聞] 事後校正回歸 國外公衛統計常見.txt',
 './res_gossiping/[問卦] 高雄終於下雨了，喔耶 ^_^.txt',
 './res_gossiping/[問卦] 到昨天才知道要校正回歸嗎？.txt',
 './res_gossiping/[問卦] 起手式「之前投給XXX」都是哪種人？.txt',
 './res_gossiping/Re: [問卦] 今天不要創新名詞不就好了.txt',
 './res_gossiping/Re: [新聞] 蘇揆親解校正回歸 籲「大家一起扛起.txt',
 './res_gossiping/[問卦] 王育誠是不是生不逢時？.txt',
 './res_gossiping/[問卦] 星際大戰設定不合理的八卦?.txt',
 './res_gossiping/[問卦] 疫情期間財富自由的人都在幹嘛？.txt',
 './res_gossiping/[問卦] 軍營人擠人為何都沒人確診？.txt',
 './res_gossiping/[問卦] BNT疫苗打一劑要一萬 你打嗎.txt',
 './res_gossiping/[新聞]強化「大山貓」步兵戰鬥車防禦力 匈牙利.txt',
 './res_gossiping/[問卦] 日本外科這麼強 為啥沒研發疫苗？.txt',
 './res_gossiping/[問卦] 萬華是日式地名嗎？.txt',
 './res_gossiping/[問卦]  出門去沒人的地方會變防疫破口嗎？.txt',
 './res_gossiping/[問卦] 如果不買BNT，是不是也在賭？.txt',
 './res_gossiping/[新聞] 洪秀柱願當「橋樑」引入中國疫苗\u3000指揮.txt',
 './res_gossiping/[公告] 周六新增大量校正回歸水桶案例.txt',
 './res_gossiping/[問卦] 自殺者再利用是否可行？.txt',
 './res_gossiping/Re: [問卦] 這總統誰選的?.txt',
 './res_gossiping/Re: [問卦] 台灣企業能忍受員工wfh多久？.txt',
 './res_gossiping/[問卦] 台灣10年內還有甚麼未爆彈會炸開?.txt',
 './res_gossiping/[問卦] 我不同意你的觀點，下一句怎麼接？.txt',
 './res_gossiping/[問卦] 又忘記帶鑰匙的我該做什麼（已解決）.txt',
 './res_gossiping/[問卦] 欸幹這個是不是真的!??.txt',
 './res_gossiping/[問卦] 台灣人是不是只有等國產疫苗的命運?.txt',
 './res_gossiping/[問卦] 有人也面臨倒閉邊緣了嗎.txt',
 './res_gossiping/[問卦] 30歲要如何吸引女人的八卦.txt',
 './res_gossiping/[問卦] 會校正回歸為什麼不早說.txt',
 './res_gossiping/[問卦] 麻辣鍋應該要沾香油還是沙茶醬還是不沾.txt',
 './res_gossiping/[問卦] 有沒有人最近吃外帶還滿爽的.txt',
 './res_gossiping/[問卦] =.= 疫情宅在家每天螢幕9小時！？.txt',
 './res_gossiping/Re: [問卦] 理性討論 校正回歸你各位接受嗎？.txt',
 './res_gossiping/[問卦] 當初錯押川普,怎樣才能讓拜登息怒？.txt',
 './res_gossiping/[問卦] 為什麼捐了口罩卻沒有疫苗?.txt',
 './res_gossiping/[問卦] 300萬能幹嘛.txt',
 './res_gossiping/[問卦] 疫苗是不是防疫戰爭的救援投手.txt',
 './res_gossiping/Re: [新聞] 調查局有動作了！\u3000加強情蒐「網友討論校正回歸」.txt',
 './res_gossiping/Re: [新聞] 隨機砍人！56歲男家庭失和 持刀砍超商女.txt',
 './res_gossiping/[問卦] 美國疫苗都不優先給台灣，戰爭會介入嗎？.txt',
 './res_gossiping/Re: [問卦] 就算校正回歸有理 CDC這禮拜作法合邏輯?.txt',
 './res_gossiping/[問卦] 228白色恐怖是為了救台灣吧？.txt',
 './res_gossiping/[問卦] 工作後越來越厭世正常嗎.txt',
 './res_gossiping/[問卦] 綠共會不會變抓耙仔？.txt',
 './res_gossiping/[問卦] 千聖是有什麼毛病.txt',
 './res_gossiping/Re: [問卦] 就算校正回歸有理 整理.txt',
 './res_gossiping/Re: [爆卦] 如果BNT也不能打，腫麼辦？.txt',
 './res_gossiping/[問卦] 男女之間沒有純友誼.txt',
 './res_gossiping/[問卦] 武漢人還會被岐視嗎？.txt',
 './res_gossiping/[問卦] 電子鎖實用還是不實用?.txt',
 './res_gossiping/Re: [問卦]「校正回歸」的定義以及數據上不合理之處.txt',
 './res_gossiping/[問卦] 什麼情況下平板會是首選.txt',
 './res_gossiping/[問卦] 美豬都吞了 爸爸怎麼不給疫苗？.txt',
 './res_gossiping/[問卦] 二延平即時影像.txt',
 './res_gossiping/[問卦] 台灣人是大青蛙還是大菊花? (影片).txt',
 './res_gossiping/[問卦] 是不是該把傾中當籌碼了？.txt',
 './res_gossiping/[問卦] 生理時鐘也被校正了嗎.txt',
 './res_gossiping/[問卦] 慟！鐵板燒外帶中辣配啤酒也太爽了吧！.txt',
 './res_gossiping/[問卦] 感染源都是武漢，所以沒有不明？.txt',
 './res_gossiping/[問卦] 疫情終究會過去der.txt',
 './res_gossiping/[問卦] 新冠肺炎是否被過度渲染報導了？.txt',
 './res_gossiping/[問卦] 初音會敬老尊賢嗎==？.txt',
 './res_gossiping/[問卦] 輝瑞BNT疫苗營銷劃分.txt',
 './res_gossiping/[問卦] 日清泡麵、阿Q桶麵、滿漢大餐，都幾.txt',
 './res_gossiping/Re: [新聞] 美專家建議台灣 越早封城代價越小.txt',
 './res_gossiping/[問卦] 有沒有26的智媒體到底可不可信的八卦.txt',
 './res_gossiping/[問卦] 水泡該怎麼處理？(有圖，不喜勿入).txt',
 './res_gossiping/[問卦]柏毅有強迫你放在門口嗎？.txt',
 './res_gossiping/Re: [問卦] 在家不出門是不是白癡？.txt',
 './res_gossiping/[問卦] 今天應該沒人猜神秘數字了吧.txt',
 './res_gossiping/Re: [新聞] 市府通知！萬華區青草園快篩站5月23日起.txt',
 './res_gossiping/[問卦] 蟑螂4不4又變多了?.txt',
 './res_gossiping/[新聞] 美專家建議台灣 越早封城代價越小.txt',
 './res_gossiping/[新聞] BioNTech 新加坡生產新冠疫苗.txt',
 './res_gossiping/[公告] 置底大怒灌Hate閒聊區.txt',
 './res_gossiping/[問卦] 預防停電的超前部屬?.txt',
 './res_gossiping/[問卦] 請問我朋友這樣是生病了嗎.txt',
 './res_gossiping/[爆卦] 地震.txt',
 './res_gossiping/[爆卦] 地震報告.txt',
 './res_gossiping/[問卦] 這樣是越來越少還是越來越多呢.txt',
 './res_gossiping/[問卦] 萬華明明就是紅燈區，為什麼沒人想正名.txt',
 './res_gossiping/[問卦] 坐船去公海打疫苗可行嗎？.txt',
 './res_gossiping/[問卦] 請衛服部公開上海復星3000萬劑BNT 報價.txt',
 './res_gossiping/[新聞] 台灣連一週單日確診破百 美專家：快速.txt',
 './res_gossiping/[問卦] 雲朵推怎麼用的？.txt',
 './res_gossiping/[問卦] 譚德賽的疫苗都肯打了有BNT的不要？.txt',
 './res_gossiping/[問卦] Costco的配鏡技術如何.txt',
 './res_gossiping/[問卦] 這個時間沒有人會噓吧？.txt',
 './res_gossiping/[問卦] 成龍怎麼看台灣防疫？.txt',
 './res_gossiping/[問卦] 台灣還能盡情的罵政府嗎?.txt',
 './res_gossiping/[問卦] 陽性率趨穩 但記者是不是圖文不符.txt',
 './res_gossiping/[問卦] 國產疫苗 大家覺得怎樣?.txt',
 './res_gossiping/Re: [問卦] 石門水庫水位17%只能再撐24天？.txt',
 './res_gossiping/[問卦] 感覺霍金的說法不是很正確???.txt',
 './res_gossiping/[問卦] 智慧手機沒問世,人民能否自律宅在家？.txt',
 './res_gossiping/[問卦] 命重要還是抗中保台重要?.txt',
 './res_gossiping/[問卦] 覺得活著很累的時候.該怎麼辦?.txt',
 './res_gossiping/[問卦] 輝瑞，莫德納，AZ疫苗  差在哪邊？.txt',
 './res_gossiping/Re: [問卦] 就算校正回歸有理 CDC這禮拜作法合邏.txt',
 './res_gossiping/[問卦] 任然今年開得了演唱會嗎?.txt',
 './res_gossiping/[問卦] 雙北公布案例跟中央不同,這樣不算假消息?.txt',
 './res_gossiping/Re: [新聞] 獨家》存貨面臨過期 上海復星盼BNT疫苗.txt',
 './res_gossiping/[問卦] 台北市現在接近空城壯態.txt',
 './res_gossiping/[問卦] 校正回歸有其正當性吧？.txt',
 './res_gossiping/[問卦] 缺晶片會不會是台積電沒去申請？.txt',
 './res_gossiping/[問卦] 地方政府能自己買BNT疫苗嗎？.txt',
 './res_gossiping/[問卦] 為什麼我的mba在桌面滑動會lag?.txt',
 './res_gossiping/[新聞]疫情爆發後聲量排行，陳時中穩居第一.txt',
 './res_gossiping/Re: [問卦] 國產疫苗為何不直接上了啊??.txt',
 './res_gossiping/[新聞] 印度洋發現大量野生腔棘魚!!!!.txt',
 './res_gossiping/[問卦] 包龍星直播.txt',
 './res_gossiping/[新聞] 英最新研究：輝瑞和AZ疫苗對印度變種病毒.txt',
 './res_gossiping/Re: [新聞] 上海復星稱願提供疫苗 陳時中：放話不斷.txt',
 './res_gossiping/[問卦] 本魯所在的區域是不是高風險了啊？.txt',
 './res_gossiping/[問卦] 100年後台灣歷史課本怎麼形容2021年？.txt',
 './res_gossiping/[問卦] 疫情七個未解之謎.txt',
 './res_gossiping/[問卦] 預知夢.txt',
 './res_gossiping/[問卦] 美廉社VV系列的茶品是不是屌打？.txt',
 './res_gossiping/[問卦] 你們生活中碰過哪些天才?.txt',
 './res_gossiping/[問卦] 日本咖哩 vs 印度咖哩 都幾.txt',
 './res_gossiping/[問卦] 台灣人民看起來很傻嗎？.txt',
 './res_gossiping/[問卦] 小蘋果和最炫民族風哪首更紅?.txt',
 './res_gossiping/[新聞] 八通關大火禍首 NCC專委要賠2000萬.txt',
 './res_gossiping/[問卦] 我想認識網美啦！！！！！！！.txt',
 './res_gossiping/[問卦] 路上怎麼都沒人.txt',
 './res_gossiping/[問卦] 白石麻衣是靠乃團才紅的吧.txt',
 './res_gossiping/[問卦] 心理諮商師和心理醫師推哪個.txt',
 './res_gossiping/[問卦] 現在口號要喊什麼.txt',
 './res_gossiping/Re: [問卦] 陳舊時鐘報時不準報數也不準該怎麼辦?.txt',
 './res_gossiping/[問卦] 為什麼日本跟韓國不研發疫苗？.txt',
 './res_gossiping/[問卦] 為什麼不是打過疫苗的3+11.txt',
 './res_gossiping/Re: [問卦] 男女之間沒有純友誼.txt',
 './res_gossiping/[問卦] 肥宅約曖昧女森來家裡吃午餐有加分嗎？.txt',
 './res_gossiping/Re: [問卦] 校正回歸其實沒有不對吧.txt',
 './res_gossiping/[問卦] 雙重快篩？.txt',
 './res_gossiping/[問卦] 貼標籤 很爽吧.txt',
 './res_gossiping/[問卦] 除了不戴口罩，還有哪些防疫破口？.txt',
 './res_gossiping/Re: [問卦] 幾年內票不會投給民進黨.txt',
 './res_gossiping/[問卦] 可以用復星賣BNT疫苗來跟美國要疫苗？.txt',
 './res_gossiping/[問卦] 偉哉CDC接下來該怎麼行銷國產疫苗？.txt',
 './res_gossiping/[問卦] 闖紅燈的四輪把行人當保齡球打? (中國).txt',
 './res_gossiping/[新聞] 印度婦新冠輕症住院\u3000竟遭3醫護性侵變重.txt',
 './res_gossiping/[問卦] 台灣同胞現在po 文是不是要多想一下.txt',
 './res_gossiping/[問卦] 你FB覺青朋友有提過3+11這個大洞嗎?.txt',
 './res_gossiping/[問卦] 校正回歸的真意？.txt',
 './res_gossiping/Re: [問卦] 老實說林逸欣真的很正吧？.txt',
 './res_gossiping/Re: [問卦] 檢驗量能無法提升 就不知道當日確診數？.txt',
 './res_gossiping/[問卦] 如果台灣硬封城會有一堆人餓死吧？.txt',
 './res_gossiping/[問卦] 這總統誰選的?.txt',
 './res_gossiping/[問卦] 這波要發多少振興券才救得回來？？.txt',
 './res_gossiping/[問卦] 我的google時間軸壞了嗎?.txt',
 './res_gossiping/Re: [新聞] 德國人嫌棄AZ疫苗 到貨堆積如山卻喊疫苗.txt',
 './res_gossiping/[問卦] 打疫苗 病毒流感化 平常心面對 是唯一解.txt',
 './res_gossiping/[問卦] 女森是不是對可愛的很難以抗拒？.txt',
 './res_gossiping/Re: [問卦] 政府為啥不能買大陸bnt疫苗？.txt',
 './res_gossiping/[問卦] 是不是之後只看校正回歸後的那波報告就好.txt',
 './res_gossiping/[問卦] 5月31日有可能開學嗎？.txt',
 './res_gossiping/[問卦] 有沒有711起司三重奏三明治的八卦？.txt',
 './res_gossiping/Re: [問卦] 八卦板上不信美國會給台灣武肺炎疫苗？.txt',
 './res_gossiping/[問卦] 台灣要送什麼才能刺激疫苗接種？.txt',
 './res_gossiping/[問卦] 數位轉型.txt',
 './res_gossiping/Re: [問卦] 校正回歸 英文怎麼翻？.txt',
 './res_gossiping/Re: [爆卦] 阿中部長一夜白頭其實有修圖？？.txt',
 './res_gossiping/[問卦] 有甚麼樣的人民就選出甚麼樣的政府.txt',
 './res_gossiping/[問卦] 現在反核的都是中共同路人嗎？.txt',
 './res_gossiping/Re: [問卦] 認真求問校正回歸.txt',
 './res_gossiping/[問卦] 蜘蛛是肥宅怎辦.txt',
 './res_gossiping/[問卦] 疫情結束後 八大行業會被報復性消費嗎？.txt',
 './res_gossiping/[新聞] 校正回歸熱議 調查局情蒐社群言論.txt',
 './res_gossiping/Re: [問卦] 言論自由跟造謠如何定義？.txt']

In [6]:
glob.glob('./0[3-8]*.ipynb')

['./03_requestsPractice.ipynb',
 './08_postPractice.ipynb',
 './05_pttMovieOnePage.ipynb',
 './06_pttMovieMultiPage1.ipynb',
 './04_beautifulSoupPractice.ipynb',
 './07_pttMovieMultiPage2.ipynb']

In [7]:
df = pd.DataFrame(columns=['Name', 'Age', 'Height'])
df

Empty DataFrame
Columns: [Name, Age, Height]
Index: []

In [11]:
df.loc[0] = ['Allen', '22', '175']
df

    Name Age Height
0  Allen  22    175
1    Ted  25    180

In [12]:
df.loc[1] = ['Ted', '25', '180']
df

    Name Age Height
0  Allen  22    175
1    Ted  25    180

In [13]:
df['Weight'] = ['75', '80']
df

    Name Age Height Weight
0  Allen  22    175     75
1    Ted  25    180     80

In [14]:
df.drop(['Weight'], axis=1)

    Name Age Height
0  Allen  22    175
1    Ted  25    180

In [15]:
df

    Name Age Height Weight
0  Allen  22    175     75
1    Ted  25    180     80

In [16]:
df = df.drop(['Weight'], axis=1)
df

    Name Age Height
0  Allen  22    175
1    Ted  25    180

In [19]:
df.drop(1, axis=0)

    Name Age Height
0  Allen  22    175

In [18]:
df

    Name Age Height
0  Allen  22    175
1    Ted  25    180

In [21]:
df['Height'][0]

'175'

In [22]:
df['Height'][0] = '178'

In [23]:
df

    Name Age Height
0  Allen  22    178
1    Ted  25    180

In [24]:
df['Height']

0    178
1    180
Name: Height, dtype: object

In [25]:
df['Height'] = '123'

In [26]:
df

    Name Age Height
0  Allen  22    123
1    Ted  25    123

In [27]:
df.loc[0] = 'aaa'

In [28]:
df

  Name  Age Height
0  aaa  aaa    aaa
1  Ted   25    123

In [30]:
columns = ['Name', 'Age', 'Height']
data = [
    ['Allen2', '22', '175'],
    ['Ted2', '25', '180']
]
df2 = pd.DataFrame(data=data, columns=columns)
df2

     Name Age Height
0  Allen2  22    175
1    Ted2  25    180

In [31]:
df.append(df2)

     Name  Age Height
0     aaa  aaa    aaa
1     Ted   25    123
0  Allen2   22    175
1    Ted2   25    180

In [32]:
df

  Name  Age Height
0  aaa  aaa    aaa
1  Ted   25    123

In [33]:
df = df.append(df2)
df

     Name  Age Height
0     aaa  aaa    aaa
1     Ted   25    123
0  Allen2   22    175
1    Ted2   25    180

In [34]:
df.reset_index()

   index    Name  Age Height
0      0     aaa  aaa    aaa
1      1     Ted   25    123
2      0  Allen2   22    175
3      1    Ted2   25    180

In [35]:
df.reset_index(drop=True)

     Name  Age Height
0     aaa  aaa    aaa
1     Ted   25    123
2  Allen2   22    175
3    Ted2   25    180

In [36]:
df

     Name  Age Height
0     aaa  aaa    aaa
1     Ted   25    123
0  Allen2   22    175
1    Ted2   25    180

In [37]:
df = df.reset_index(drop=True)
df

     Name  Age Height
0     aaa  aaa    aaa
1     Ted   25    123
2  Allen2   22    175
3    Ted2   25    180